.widget-editor-container {
  margin-bottom: 60px;
}

.widget-editor {
  background-image: -webkit-linear-gradient(315deg,#1da1f2,#981ceb);
  background-image: linear-gradient(135deg,#1da1f2,#981ceb);
  background-color: #1b95e0;
  margin-bottom: 20px;
  min-width: 1000px;
}
